*{
    box-sizing: border-box;

}
body{
    padding: 0;
    margin: 0;
}
.section_1
{
    width: 100%;
    height: 100%;
}
.flex-main
{
    display: flex;
    height: 110px;
    background-color: rgba(129, 78, 78, 0.055);
}
.main
{
    padding: 5px;
    padding-top: 1px;
    width: 12%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
    

}

h1 
{
    border: 1px solid rgb(139, 147, 192);
    box-shadow: 1px 1px 1px 1px rgb(44, 170, 170);
    border-radius: 100%;
    font-size: 19px;
    height: 100%;
    width: 100%;
    padding-top: 30px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: rgb(52, 157, 189);
    text-shadow: -2px 0px 3px rgba(15, 11, 11, 0.479);
}
#nav_1
{
    padding-top: 35px;
    width: 70%;
   
}
div#nav_1 ul
{

    padding-top: 15px;
    
   padding-left: 300px;
    height: 70px;
    list-style-type: none;
  
}
div#nav_1 ul li
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
    
    padding-bottom: 13px;
    
   font-size: 19px;
   
    display: inline;
    margin-right: 60px;
    font-weight: 500; 
    cursor: pointer;   
}
div#nav_1 ul li:hover
{
    border-bottom: 5px solid rgb(134, 43, 146);
    text-shadow: -1px 7px 13px  rgb(102, 102, 102);
    transition:0.5s;

}
.contact
{
    
 
    width: 20%;
    
    

}
.contact2
{
    
    
    width: 100%;
    height: 100%;
    padding-top: 67px;

 
}
form 
{
 
 height: 25px;
 overflow: hidden;
 box-sizing: border-box;
 border: 0.5px solid black;
 border-radius: 80px;
 

}
form input
{
    height: 100%;
    float: left;
    padding: 0px;
    font-size: 13px;
    padding-left: 20px;
    border-radius: 80px;
    border: none;
    border-right: 0.5px solid black;
    
}
form button 
{
    height: 100%;
    float: left;
    background-color: rgb(255, 253, 253);
 width: 70px;
 
 
 padding: 0px;
 border: none;
 font-weight: 600;
 font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
form button:hover
{
    color:rgb(97, 8, 42);
    text-shadow:0px 1px 1px  rgb(16, 55, 139);
    transition: 0.4s;
}
.section_2
{
width: 100%;
height: 541px;



}
.section_paddiong
{
    
    height: 100%;
    width: auto;
    padding-right: 3%;
    padding-left: 3%;
    display: flex;
    
    
    
   
}
.section_2_container
{
    width: 26%;
    margin-top: 40px;
    height: 500px;

    background-color: #000;
   
    position: relative;
}
#section_2_container_1
{
    width: 100%;
    height: 100%;
    
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
div#section_2_container_1 img
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    


}
.section_2_container_2
{
    position: absolute;
    height: 50px;
    bottom: 0px;
    width: 100%;
   
    display: flex;

}
.section_2_container_3
{
    width: 100%;
    height: 100%;
    
    padding-left: 28%;
    padding-right: 28%;
    
}
.section_2_container_4
{
    
    
    color: rgb(218, 218, 218);
    padding-left: 7px;
    width: 100%;
    
    font-size: 17px;
    transition: 0.8s;
    font-weight: 600;
    font-family:cursive;
    border: 1px solid rgb(102, 250, 255);
    height: 100%;
    cursor: pointer;
    
    

}
.section_2_container_4::after
{
    content: '\00bb';
    font-size: 27px;
    opacity: 0;
    margin-right: 30px;
    padding-top: 15px;
    color: #000;
    

    width:100%;
    height: 100%;
}
.section_2_container_4:hover
{
    padding-left: 0;
    transition: 0.8s;
    border: none;
    
    
    
}
.section_2_container_3:hover .section_2_container_4::after
{
    
    opacity: 1;
    transition: 0.8s;
    color: #64fff7;
   
}
.section_2_container_5
{
    width: 55%;
    height: 550px;
    
   position: relative;
}
#section_2_container_5_nav
{
    display:inline;
    height:80px;
    width: 60%;
    
    
}
div#section_2_container_5_nav ul
{
    list-style-type: none;
    display: flex;
    padding-top: 40px;
    cursor: pointer;
    
    
    
    
    

    
    
}
div#section_2_container_5_nav ul li
{
    margin-left: 15px;
    font-size: 15px;
    width: 90px;
    border: none;
    border-radius: 50px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 2px;
    color: #1b1919c2;
   



}
div#section_2_container_5_nav ul li:first-child
{
    background-color: #52bebec5;
}
div#section_2_container_5_nav ul li:first-child:hover
{
    background-color: #74ddd4b9;
}
div#section_2_container_5_nav ul li:hover
{
    background-color: #6bd3ca86;

}



.section_2_container_6
{
    width: 20%;
    height: 100%;
    
    float: left;
   background-color: #64fff76e;
}
#section_2_container_5_1
{
    width: 100%;
    height: 450px;
    text-align: center;
    padding-top: 10px;
    background-color: hsla(184, 95%, 61%, 0.068);
    
    
}
div#section_2_container_5_1 h2
{
    padding: 0;
    position: relative;
    
    text-decoration: underline;
    
}
div#section_2_container_5_1 p
{
    font-size: 18px;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 500;
  
}
div#section_2_container_5_1 span
{
    color: rgb(0, 219, 235);
}
#section_2_container_6_1
{
    width: 100%;
    height: 100%;
    padding: 40px;
    padding-top: 80px;
    
}
div#section_2_container_6_1 input
{
    margin :5px 0;
    font-size: 14px;
    height: 27px;
    border-radius: 55px;
    text-align: center;
    
    border: 1px solid rgba(134, 134, 134, 0.678);
}
div#section_2_container_6_1 label
{
    margin-left: 10px;
}
div#section_2_container_6_1 button
{
    background-color: rgba(59, 223, 209, 0.459);
    border: none;
    width: 150px;
    margin-top: 10px;
    border-radius: 55px;
    font-size: 16px;
}
div#section_2_container_6_1 button:hover
{

    background-color: rgb(59, 223, 209);
}
#section_2_container_6_1 h4
{
    text-align: center;
}
#section_2_container_6_2
{
    width: 100%;
    height: 150px;
  
    margin-top: 15px;
    border-top: 1px solid black;
    display: flex;

}
div#section_2_container_6_2 span
{
    margin-top: 11px;
    width: 38px;
    height: 24px;
    padding-left: 10px;
    margin: 8px 8px ;
    border-radius: 8px;
    

  
}

div#section_2_container_6_2 span img
{
    width: 100%;
    background-size: contain;
    height: 100%;
    border-radius: 7px;
    
    
}
div#section_2_container_6_2 img:hover
{
    background-color: #a8faec5b;
}
.section_3
{
width: 100%;
height: 2271px;



}

.section_padding_2
{
    width: 100%;
    height: 2271px;
    padding-left: 3%;
    padding-right: 3%;
    position: relative;
}
#section_3_div_1
{
    height: 2011px;
    width: 33.5%;
    
    float: left;
    background-size: cover;
    
   
    
}

 
#section_3_div_2
{
    height: 2011px;
    width: 33%;
    
    float: left;
    background-size: cover;
   
    
   
    
}
#section_3_div_2 img
{
    
    height: 360px;
    width: 100%;
    padding: 10px;
   
}
#section_3_div_2 img:first-child
{
    margin-top: 0px;

}
#section_3_div_3
{
    height: 2011px;
    width: 33.5%;
    
    float: left;

}
#section_3_div_3 img
{
    
    height: 370px;
    width: 95%;
    padding: 10px;
}
#section_3_div_3 img:hover
{
    opacity: 0.9;
   
}
#section_3_div_2 img:hover
{
    opacity: 0.9;
   
}
#section_3_div_1 img:hover
{
    opacity: 0.9;
   
}
#section_3_div_3 img:first-child
{
    margin-top: 0px;

}
#section_3_div_4
{
    width: 97%;
    height: 100px;
    
    position: absolute;
    bottom: 0px;
    display: flex;
   
    justify-content: center;
    
   
    
}
#section_3_div_4 div span 
{
    width:200px;
    height: 100px;
    
}
#section_3_div_4 span h2
{
    border: 1px solid rgb(111, 173, 175);
    padding: 7px;
    border-radius: 80px;
    cursor: pointer;
}
#section_3_div_4 span h2:hover
{
    background-color: rgba(109, 236, 240, 0.37);

}
#section_3_div_4 span h2::after
{
    content: '\00bb';
    margin-left: 5px;
    color: #000;

}
.section_4
{
    width: 100%;
    height: 240px;
    background-color: #000000e1;
    margin-top: 100px;

}
.section_padding_3
{
    width: 100%;
    height: 100%;
    padding:3%;
    position: relative;
    display: flex;
    align-items: center;
   
    

}
#section_4_1
{
    width: 400px;
    height: 200px;
    margin-left: 200px;
  
    
}
div#section_4_1  p
{    font-size: 16px;
    text-align: left;
    line-height: 23px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(248, 248, 248, 0.596);

}
div#section_4_2
{
    width: 400px;
    height: 200px;

    display: flex;
    align-items: center;
    margin-left: 65px;

}
div#section_4_2 span
{
    font-size: 19px;
   color: rgba(255, 255, 255, 0.877);
   background-color: #ad2121;
    border-radius: 35px;
    padding: 15px;
    cursor: pointer;

}
div#section_4_2 span:hover
{
    background-color: #ce2121;
}
div#section_4_2 span::after
{
    content: '\00bb';
    margin-left: 20px;
    font-size: 21px;
}
.section_5
{
    width: 100%;
    height: 1100px;
    
    margin-top: 100px;

}
#section_padding_4
{
    width: 100%;
    height: 100%;
    padding:3%;
    
    

}
#section_5_container_1
{
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
   
    
}
.section_5_container_1_1
{
    width: 370px;
    margin-left: 70px;
    height: 400px;
   
    position: relative;
    background-size: cover;
}
.section_5_container_1_1 img
{
    width: 100%;
    height: 100%;
    position: absolute;
}
.section_5_container_1_1 span
{
    width: auto;
    height:auto;
    font-size: 30px;
    border-radius: 5px;
    padding: 5px;
    margin-left: 95px;
    margin-top: 15px;
    color: #220f12;
    
    border: 1px solid rgb(7, 94, 105);
    position: absolute;

}
div#section_5_container_1 button
{
    width: 100px;
    height: 30px;
    border-radius: 30px;
    background-color: #05baf118;
    position: absolute;
    bottom: 15px;
    margin-left: 100px;
    bottom: -45px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    border: none;
    transition: 0.3s;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
div#section_5_container_1 button p
{
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 0;
    margin: 3px;   
}
div#section_5_container_1 button:hover
{
    background-color: #05cef131;
    box-shadow: 0 8px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  
    
}

.section_6
{
    width: 100%;
    height: 240px;
    background-color: #000000ea;
    
    margin-top: 100px;
}
.section_padding_5
{
    width: 100%;
    height: 100%;
    padding:2%;
    position: relative;
    display: flex;
    align-items: center;
}
.section_6_container_1
{
    width: 100%;
    height: 100%;
   
    text-align: center;
}
.section_6_container_1 h2
{
    color: rgba(255, 255, 255, 0.678);
    padding: 0;
    margin-top: 5px;
}
.section_6_container_1 p
{
    
    color: rgba(255, 255, 255, 0.671);
}
#section_6_container_2
{
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    
}
div#section_6_container_2 span
{
    width: 50px;
    height: 50px;
    
    
}
div#section_6_container_2 span img
{
    
    width: 35px;
    height: 30px;
    border-radius: 10px;
    padding: 4px;
    background-color: #54acdfa8;
}
div#section_6_container_2 span img:hover
{
    background-color: #54cfdfcb;
    
    

}




